@model List<SistemaGerenciadorBiblioteca.Models.EmprestimosModel>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}

<div class="text-center">
    <a class="btn btn-success" role="button" style="float: left" asp-controller="Emprestimos" asp-action="Add">Adicionar Empréstimo</a>
    <br />
    <h1 class="display-1">Lista de Empréstimos</h1>
    <br />
    <table class="table table-striped" id="table-advanced">
        <thead>
            <tr>
                <th scope="col">ID Empréstimo</th>
                <th scope="col">Livro</th>
                <th scope="col">Data do Empréstimo</th>
                <th scope="col">Data Devolução</th>
                <th scope="col">Dias Restantes</th>
                <th scope="col">Status</th>
                <th scope="col">Nome Aluno</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emprestimo in Model)
            {
                <tr>
                    <th class="text-center" scope="row">@emprestimo.Id_emprestimo</th>
                    <td>@emprestimo.Livro.Titulo</td>
                    <td class="text-center">@emprestimo.Data_Emprestimo</td>
                    <td class="text-center">@emprestimo.Data_Devolucao</td>
                    <td class="@(StatusPrazo(CalcularDiasRestantes(@emprestimo.Data_Devolucao)) == "Atrasado" ? "text-danger" : "") text-center">@CalcularDiasRestantes(@emprestimo.Data_Devolucao)</td>
                    <td class="@(StatusPrazo(CalcularDiasRestantes(@emprestimo.Data_Devolucao)) == "Atrasado" ? "text-danger" : "") text-center"> @StatusPrazo(CalcularDiasRestantes(@emprestimo.Data_Devolucao))</td>
                    <td>@emprestimo.Aluno.Nome_Aluno</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a role="button" class="btn btn-warning" href="Emprestimos/Edit/@emprestimo.Id_emprestimo">Editar</a>
                            <a role="button" class="btn btn-danger" href="Emprestimo/Delete_Emprestimo/@emprestimo.Id_emprestimo">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    int CalcularDiasRestantes(DateTime dataDevolucao)
    {
        DateTime dataAtual = DateTime.Today;
        TimeSpan diferenca = dataDevolucao.Subtract(dataAtual);
        return (int)diferenca.TotalDays;
    }

    string StatusPrazo(int diferenca)
    {
        string prazo = "";

        if (diferenca < 0)
        {
            prazo = "Atrasado";
        }
        else
        {
            prazo = "No Prazo";
        }
        return prazo;
    }
}

