@model LivrosModel
@{
    ViewData["Title"] = "Editar Livro";
}

@if (TempData["MensagemEditPreencha"] != null)
{
    <div class="alert alert-warning" role="alert">
        <button type="button" class="btn btn-warning btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemEditPreencha"]
    </div>
}

<div class="text-center">

    <h1 class="display-4">Editar Livro</h1>

</div>

<form asp-controller="Livros" asp-action="Editar_livro" method="post">
    <div class="mb-3">
        <label for="id" class="form-label">ID Livro</label>
        <input type="text" class="form-control" id="id" aria-describedby="descricaoidlivro" asp-for="Id_livro" readonly>
        <div id="descricaoidlivro" class="form-text">Identificador único do Livro</div>
    </div>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título do Livro</label>
        <input type="text" class="form-control" id="titulo" aria-describedby="descricaotitulo" asp-for="Titulo">
        @Html.ValidationMessageFor(x => x.Titulo)
        <div id="descricaotitulo" class="form-text">Digite o Título do Livro</div>
    </div>
    <div class="mb-3">
        <label for="autor" class="form-label">Nome do Autor</label>
        <input type="text" class="form-control" id="autor" aria-describedby="descricaoautor" asp-for="Autor">
        @Html.ValidationMessageFor(x => x.Autor)
        <div id="descricaoautor" class="form-text">Digite o nome do Autor</div>
    </div>
    <div class="mb-3">
        <label for="genero" class="form-label">Gênero Literário</label>
        <input type="text" class="form-control" id="genero" aria-describedby="descricaogenero" asp-for="Genero">
        @Html.ValidationMessageFor(x => x.Genero)
        <div id="descricaogenero" class="form-text">Digite o Genêro Literário</div>
    </div>
    <div class="mb-3">
        <label for="editora" class="form-label">Editora</label>
        <input type="text" class="form-control" id="editora" aria-describedby="descricaoeditora" asp-for="Editora">
        @Html.ValidationMessageFor(x => x.Editora)
        <div id="descricaoeditora" class="form-text">Digite a Editora</div>
    </div>
    <div class="mb-3">
        <label for="ano" class="form-label">Ano de Publicação</label>
        <input type="number" class="form-control" id="ano" aria-describedby="descricaoeditora" asp-for="Ano">
        @Html.ValidationMessageFor(x => x.Ano)
        <div id="descricaoano" class="form-text">Digite o ano de lançamento</div>
    </div>
    <a class="btn btn-secondary" role="button" asp-controller="Livros" asp-action="Index">Voltar</a>
    <button type="submit" class="btn btn-warning">Alterar</button>
</form>
