@model List<SistemaGerenciadorBiblioteca.Models.LivrosModel>
@{
    ViewData["Title"] = "Listagem de Livros";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemEditSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemEditSucesso"]
    </div>
}

@if (TempData["MensagemEditErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemEditErro"]
    </div>
}

@if (TempData["MensagemDeleteSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemDeleteSucesso"]
    </div>
}

@if (TempData["MensagemDeleteErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemDeleteErro"]
    </div>
}

<div class="text-center">
    <a class="btn btn-success" role="button" style="float: left" asp-controller="Livros" asp-action="Adicionar_livro">Adicionar Livro</a>
    <br />
    <h1 class="display-1" style="text-align:center">Lista de Livros</h1>
    <br />
    <table class="table table-striped" id="table-advanced">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Gênero Literário</th>
                <th scope="col">Editora</th>
                <th scope="col">Ano de Publicação</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var livro in Model)
            {

                <tr>
                    <td class="text-center" scope="row">@livro.Id_livro</td>
                    <td>@livro.Titulo</td>
                    <td class="text-center">@livro.Autor</td>
                    <td class="text-center">@livro.Genero</td>
                    <td class="text-center">@livro.Editora</td>
                    <td class="text-center">@livro.Ano</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a role="button" class="btn btn-warning" href="Livros/Editar_livro/@livro.Id_livro">Editar</a>
                            <a role="button" class="btn btn-danger" href="Livros/Deletar_livro/@livro.Id_livro">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
