@model List<SistemaGerenciadorBiblioteca.Models.LivrosModel>
@{
    ViewData["Title"] = "Listagem de Livros";
}


<div class="text-center">
    <h1 class="display-4">Lista de Livros</h1>
    <a class="btn btn-success" role="button" style="float: left" asp-controller="Livros" asp-action="Adicionar_livro">Adicionar Livro</a>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Gênero Literário</th>
                <th scope="col">Editora</th>
                <th scope="col">Ano de Publicação</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var livro in Model)
            {

                <tr>
                    <td scope="row">@livro.Id_livro</td>
                    <td>@livro.Titulo</td>
                    <td>@livro.Autor</td>
                    <td>@livro.Genero</td>
                    <td>@livro.Editora</td>
                    <td>@livro.Ano</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a role="button" class="btn btn-warning" asp-router-id="@livro.Id_livro" asp-controller="Livros" asp-action="Editar_livro">Editar</a>
                            <a role="button" class="btn btn-danger" asp-router-id="@livro.Id_livro" asp-controller="Livros" asp-action="Deletar_livro">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
