@model List<SistemaGerenciadorBiblioteca.Models.AlunosModel>
@{
    ViewData["Title"] = "Listagem de Alunos";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemEditSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemEditSucesso"]
    </div>
}

@if (TempData["MensagemEditErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemEditErro"]
    </div>
}

@if (TempData["MensagemDeleteSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemDeleteSucesso"]
    </div>
}

@if (TempData["MensagemDeleteErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemDeleteErro"]
    </div>
}

<div class="text-center">
    <a class="btn btn-success" role="button" style="float: left" asp-controller="Alunos" asp-action="Adicionar_aluno">Adicionar Aluno</a>
    <br />
    <h1 class="display-1">Lista de Alunos</h1>
    <br />
    <table class="table table-striped" id="table-advanced">
        <thead>
            <tr>
                <th scope="col">ID Sistema</th>
                <th scope="col">RM</th>
                <th scope="col">Nome Aluno</th>
                <th scope="col">Turma</th>
                <th scope="col">Nome Responsável</th>
                <th scope="col">Celular/Telefone Responsável</th>
                <th scope="col">E-mail Responsável</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <th class="text-center" scope="row">@aluno.Id_aluno</th>
                    <td class="text-center">@aluno.Rm</td>
                    <td>@aluno.Nome_Aluno</td>
                    <td class="text-center">@aluno.Turma</td>
                    <td class="text-center">@aluno.Nome_Responsavel</td>
                    <td class="text-center">@aluno.Celular</td>
                    <td class="text-center">@aluno.Email</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a role="button" class="btn btn-warning" href="Alunos/Editar_aluno/@aluno.Id_aluno">Editar</a>
                            <a role="button" class="btn btn-danger" href="Alunos/Deletar_aluno/@aluno.Id_aluno">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
